//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links

a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	} // &:hover, &:focus, &:active
} // a

// Default menu (active after a fresh WordPress install)

.menu {
	@include list-reset;

	li {
		margin: 0 rem(10) 0 0;
	} // li

	ul {
		@include list-reset;
	} // ul

	&.menu-horizontal {

		li {
			display: inline-block;
		} // li
	} // &.menu-horizontal

	&.menu-vertical {

		li {
			margin: 0;
		} // li

		a {
			border-bottom: 1px solid $color-background-hr;
			padding: rem(10);
		} // a
	}

	&.dropdown {

		// Sub-menu
		ul {
			box-shadow: 0 3px 3px rgba($color-black, 0.2);
			float: left;
			left: -999em;
			position: absolute;
			top: em(24px);
			z-index: 99999;

			// Sub-sub menu
			ul {
				left: -999em;
				top: 0;
			} // ul

			// Sub-menu items
			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				} // &:hover > ul, &.focus > ul
			} // li

			// Sub-menu links
			a {
				@include size(rem(200) auto);

			} // a

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}

		} // ul

		// Display sub-menu on hover
		li:hover > ul,
		li.focus > ul {
			left: auto;
		} //

		// Menu items
		li {
			float: left;
			position: relative;

			&:hover > a,
			&.focus > a {
			}
		} // li
	} // &.dropdown

	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
	} // a

	// Current items
	.current_page_item a,
	.current-menu-item a {
		padding-bottom: rem(29);

		@include media($tablet-portrait) {
			border-bottom: 5px solid $color-blue-gem;
		}
	}
} // .menu

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
	display: none;
	float: right;

	@include media($tablet-portrait) {
		display: block;
	}

	// Menu area
	ul {
		display: none;

		@include media($tablet-portrait) {
			display: block;
		}
	} // ul

	// li
	li {
		margin-right: rem(18);

		@include media($tablet-landscape) {
			margin-right: rem(35);
		}

		&:last-child {
			margin-right: 0;
		} // &:last-child
	} // li

	// Toggled class applied on menu-toggle button click.
	&.toggled {
		@include position(relative, null null null rem(15));

		animation: fadeInDown 0.3s ease-in; // Animate our dropdown menu on mobile using animate.css
		background-color: $color-blue-gem;
		box-shadow: 0 rem(10) rem(40) rem(-10) rgba($color-black, 0.5);
		display: block;
		height: 100vh;
		width: calc(100% + 30px); // width plus padding on page container.

		// Mobile menu inside nav container.
		ul {
			display: block;
			position: relative;
			width: 100%;

			// Mobile <li>
			li {
				display: block;
				float: none;
				margin: 0;
				text-align: center;

				&:first-of-type {
					z-index: 100; // To prevent focus state from being overlapped.
				} // &:first-of-type

				&:last-of-type {
					border-bottom: 0;
				} // &:last-of-type

				// Mobile a
				a {
					color: $color-white;
					font-size: rem(25);
					letter-spacing: rem(1.5);
					padding: rem(14) rem(20);

					&:hover,
					&:focus {
						background-color: $color-purple-heart-alt;
						border-bottom: 0;
					} // &:hover, &:focus

					&.active {
						border-bottom: 0;
					} // &.active
				} // a
			} // li
		} // ul
	} // &.toggled

	// a
	a {
		color: $color-blue-gem;
		font-family: $font-stack-omnes-semibold;
		font-size: rem(14);
		line-height: 1.31;
		padding: rem(35) 0;
		text-transform: uppercase;

		&.current-menu-item,
		&.active,
		&:hover,
		&:focus {
			padding-bottom: rem(29);
		} // &.current-menu-item

		@include media($tablet-portrait) {
			font-size: rem(16);
		}
	} // a

	// Description that appears on mobile view.
	.menu-item-description {
		display: block;
		font-family: $font-stack-omnes-regular;
		font-size: rem(14);
		font-weight: normal;
		text-transform: initial;

		@include media($phone-landscape) {
			display: none;
		}
	} // .menu-item-description
} // .main-navigation

// Small menu
.menu-toggle {
	background: $color-purple-heart;
	display: block;
	float: right;
	height: rem(56.5);
	margin: 0 rem(-15) 0 0;
	padding: 0;
	position: relative;
	width: rem(61.5);
	z-index: 99;

	@include media($tablet-portrait) {
		display: none;
	}

	&:active,
	&:focus {
		background-color: $color-blue-gem;
	} // &:active, &:focus

	&:hover {
		background-color: darken($color-blue-gem, 15%);
	} // &:hover

	// Hamburger icon lines.
	.line {
		@include position(absolute, rem(17.5) null null rem(18));

		background-color: $color-white;
		border-radius: rem(9);
		display: block;
		height: rem(2.5);
		opacity: 1;
		transform: rotate(0deg);
		transform-origin: left center;
		transition: 0.25s ease-in-out;
		width: rem(26);

		// Middle line.
		&:nth-child(1) {
			top: rem(26.5);
		} // &:nth-child(1)

		// Bottom line.
		&:nth-child(2) {
			top: rem(35.5);
		} // &:nth-child(2)
	} // .line

	// Animate hamburger lines into X if menu is open.
	&[aria-expanded=true]  {

		// Rotate the top line down.
		.line {
			@include position(absolute, rem(19) null null rem(21));

			transform: rotate(45deg);
			width: rem(26);

			// Hide the middle line.
			&:nth-child(1) {
				opacity: 0;
				width: 0%;
			} // .line:nth-child(1)

			// Rotate the bottom line up.
			&:nth-child(2) {
				@include position(absolute, rem(37) null null rem(21));

				transform: rotate(-45deg);
			} // .line:nth-child(2)
		} // .line
	} // &[aria-expanded=true]

	// In case we use an SVG icon as fallback.
	.icon {
		@include size(rem(56) rem(56)); // account for couple extra px border inside icon

		display: inline-block;
		fill: $color-white;
		vertical-align: middle;
	} // .icon

	.menu-toggle-text {
		display: inline-block;
		vertical-align: middle;
	} // .menu-toggle-text

	.toggled-menu & {
		display: block;
	} // .toggled-menu &
} // .menu-toggle

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 rem(24) 0;
		overflow: hidden;
	} // .site-main &

	& .nav-previous {
		@include size(50% auto);

		float: left;
	} // & .nav-previous

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	} // & .nav-next
} // .comment-navigation, .posts-navigation, .post-navigation

//--------------------------------------------------------------------
// Customizer Social Share styling (mobile nav)
//--------------------------------------------------------------------
.main-navigation {

	// Customizer social icons section.
	.site-sharing {
		@include position(absolute, null null rem(135) 50%);

		background: $color-blue-gem;
		transform: translateX(-50%);

			@include media($tablet-portrait) {
				display: none;
			}

			// 'Get Social With Us' title.
			p {
				color: $color-white;
				font-family: $font-stack-omnes-bold;
				font-size: rem(14);
				margin-bottom: 0;
				text-align: center;
				text-transform: uppercase;
			} // p

			// Social sharing links around svg icons.
			a {
				display: inline-block;
				padding: 0;
			} // a
	} // .site-sharing

	// Just the icons themselves.
	.sharing-icons {
		display: flex;
		justify-content: space-between;
		left: rem(-3);
		margin: rem(10) auto 0;
		position: relative;
		width: rem(170);

		// Social icon svgs.
		svg {
			@include size(rem(30) rem(30));

			fill: $color-white;

			&:hover,
			&:focus {
				opacity: 0.4;
			} // &:hover, &:focus

			// Twitter icon
			&.icon-twitter {
				@include size(rem(32) rem(32));
			} // &.icon-twitter

			// Instagram icon
			&.icon-instagram {
				@include size(rem(30) rem(30));
			} // &.icon-instagram

			// YouTube icon
			&.icon-youtube {
				@include size(rem(36) rem(31));

				left: rem(2);
				position: relative;
			} // &.icon-youtube
		} // svg
	} // .sharing-icons
} // .main-navigation
